
.clear #home #top_bar_w {
    background-color: #9b3030;
    background-color: rgba(30, 93, 157, 0.8);
    margin-bottom: 70px;
    position: fixed;
    width: 100%;
    z-index: 1001;
    font-family: 'Open Sans Condensed'
}
#home #top_bar_w #top_bar_i {
    width: 850px;
    margin: 0px auto
}
#home #top_bar_w #top_bar_i .top_menu {
    text-align: center
}
#home #top_bar_w #top_bar_i .top_menu li {
    display: inline-block
}
#home #top_bar_w #top_bar_i .top_menu li a {
    display: block;
    padding: 33px 25px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none
}
#home #top_bar_w #top_bar_i .top_menu li a:hover {
    background-color: #111
}
#home #top_bar_w #top_bar_i .top_menu li.logo a {
    padding: 33px 30px;
    width: 48px;
    background: transparent url(/assets/logo-st-white-trans.png) center center no-repeat
}
